<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bvselect.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='test.css') }}">
  </head>
  <body>
		<select id ="selectbox" onchange="test()">
			<option value="test1">test1</option>
			<option value="test2" selected>test2</option>
			<option value="test3">test3</option>
			<option value="test4">test4</option>
		</select>
        <div class="colorPicker"></div>
        <div id="values"></div>
	<script type="text/javascript"
         src="{{ url_for('static', filename='bvselect.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@jaames/iro@5"></script>
	<script type="text/javascript">
		// create color picker in display range.
		var colorPicker = new iro.ColorPicker(".colorPicker", {
		width: 360,
		color: "rgb(255, 0, 0)",
		borderWidth: 1,
		borderColor: "#fff",
		});
		var values = document.getElementById("values");
		// read color value
		colorPicker.on(["color:init", "color:change"], function(color){
		values.innerHTML = [
		"hex: " + color.hexString,
		"rgb: " + color.rgbString,
		"hsl: " + color.hslString,
		].join("<br>");
		});
	</script>
	<script type="text/javascript">
		function test()
		{
			var selectedvalue = document.getElementById("selectbox").value;
			console.log(selectedvalue);
		}
	</script>
	<script type="text/javascript">
	document.addEventListener("DOMContentLoaded", function() {
        var demo1 = new BVSelect({
          selector: "#selectbox",
          searchbox: true,
          offset: true,
		  width: "100px",
		  breakpoint: 100
        });
	});
	</script>
	<nav class="nav" id="power">
            <a href="power" class="nav__link">
                <i class="material-icons nav__icon">power_settings_new</i>
                <span class="nav__text">power</span>
            </a>
            <a href="colorize" class="nav__link active">
                <i class="material-icons nav__icon">colorize</i>
                <span class="nav__text">colorize</span>
            </a>
            <a href="#" class="nav__link">
               <i class="material-icons nav__icon">devices</i>
               <span class="nav__text">Devices</span>
            </a>
            <a href="alarm" class="nav__link">
                <i class="material-icons nav__icon">alarm</i>
                <span class="nav__text">alarm</span>
            </a>
            <a href="Sunset" class="nav__link">
                <i class="material-icons nav__icon">wb_sunny</i>
                <span class="nav__text">Sunset</span>
            </a>
        </nav>
  </body>

</html>
